body{
    margin:0;
    padding:0;
}

.alert {
    $infoColor: lightgreen;
    $errorBackgroundColor: lighten($errorColor, 20%);

    border: 1px solid;

    &.info {
        background-color: $infoColor;
    }

    &.error {
        background-color: $errorBackgroundColor;
    }
}